<!-- Section: Design Block -->
<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">{{ err }}</li>
</ul>

<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div
          class="card cascading-right"
          style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          "
        >
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">{{ titulo }}</h2>
            <form method="post">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      [(ngModel)]="usuario.nombre"
                      name="nombre"
                      placeholder="First Name"
                      autofocus
                      required
                      type="text"
                      id="form3Example1"
                      class="form-control"
                    />
                    <label class="form-label" for="form3Example1"
                      >First name</label
                    >
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input
                      [(ngModel)]="usuario.apellido"
                      name="apellido"
                      placeholder="Last Name"
                      required
                      type="text"
                      id="form3Example2"
                      class="form-control"
                    />
                    <label class="form-label" for="form3Example2"
                      >Last name</label
                    >
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input
                  [(ngModel)]="usuario.email"
                  name="email"
                  placeholder="Email"
                  required
                  type="email"
                  id="form3Example3"
                  class="form-control"
                />
                <label class="form-label" for="form3Example3"
                  >Email address</label
                >
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input
                  [(ngModel)]="usuario.username"
                  name="username"
                  placeholder="Username"
                  required
                  type="text"
                  id="username"
                  class="form-control"
                />
                <label class="form-label" for="username">Username</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  [(ngModel)]="usuario.password"
                  name="password"
                  placeholder="Password"
                  required
                  type="password"
                  id="password"
                  class="form-control"
                />
                <label class="form-label" for="password">Password</label>
              </div>

              <!-- Submit button -->
              <button
                (click)="registrarUsuario()"
                type="submit"
                class="btn btn-primary btn-block mb-4"
              >
                Registrar
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img
          src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
          class="w-100 rounded-4 shadow-4"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
