<ul class="alert alert-danger" *ngIf="errs?.length > 0">
  <li *ngFor="let err of errs">{{ err }}</li>
</ul>

<div class="card bg-dark text-white border-3 col-sm-10">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-3">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cli.nombre"
            name="nombre"
            #nombre="ngModel"
          /><!-- required
            minlength="4" al quitar esto lo demas no funciona asi el error es manejado por el backend-->
          <div
            class="alert alert-danger py-0"
            *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
          >
            <div *ngIf="nombre.errors?.['required']">Nombre requerido</div>
            <div *ngIf="nombre.errors?.['minlength']">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-3">Apellido</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="getCliente().apellido"
            name="apellido"
            #apellido="ngModel"
          /><!-- required
            minlength="4" al quitar esto lo demas no funciona asi el error es manejado por el backend-->

          <div
            class="alert alert-danger py-0"
            *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
          >
            <div *ngIf="apellido.errors?.['required']">Apellido requerido</div>
            <div *ngIf="apellido.errors?.['minlength']">
              Apellido debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-3">Fecha</label>
        <div class="col-sm-6">
          <input
            class="form-control"
            [(ngModel)]="getCliente().createAt"
            name="createAt"
            style="display: inline; width: 300px"
            [matDatepicker]="miDatapicker"
          />
          <mat-datepicker-toggle [for]="miDatapicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatapicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-3">Email</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="getCliente().email"
            name="email"
            #email="ngModel"
          /><!-- required
            email   al quitar esto lo demas no funciona asi el error es manejado por el backend-->

          <div
            class="alert alert-danger py-0"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            <div *ngIf="email.errors?.['required']">Email requerido</div>
            <div *ngIf="email.errors?.['email']">Email requerido</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <button
              class="btn btn-primary"
              role="button"
              (click)="create()"
              *ngIf="!cli.id; else elseBlock"
              [disabled]="!clienteForm.form.valid"
            >
              Crear
            </button>
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)="update()">
                Editar
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
